/*
 * next/font 적용이 안되는 문제 해결
 * TODO: 가능하면 globals.css var()과 next/font 적용 방법 찾기
 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

/* Box */
.editor .ql-toolbar.ql-snow,
.editor .ql-container.ql-snow {
  /* var(--color-line-input) */
  border-color: #dbdbdd;
}
.editor:hover .ql-toolbar.ql-snow,
.editor:hover .ql-container.ql-snow {
  /* var(--color-label-alt) */
  border-color: #b2b2b4;
}
.editor:hover .ql-toolbar.ql-snow,
.editor:hover .ql-container.ql-snow {
  /* var(--color-label-alt) */
  border-color: #b2b2b4;
}
.editor .ql-container.ql-snow {
  font-size: 1rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.editor .ql-toolbar.ql-snow {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 18px 14px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.editor .ql-toolbar.ql-snow .ql-formats {
  margin-right: 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.editor .ql-toolbar.ql-snow .ql-formats button {
  padding: 0;
  width: 24px;
  height: 24px;
}
.editor .ql-editor.ql-blank {
  padding: 18px 14px;
}
.editor .ql-editor.ql-blank::before {
  font-weight: 400;
  font-size: 1rem;
  font-style: normal;
  color: var(--color-label-assist);
}

/* Label content */
.ql-snow .ql-picker.ql-header .ql-picker-label::before,
.ql-snow .ql-picker.ql-header .ql-picker-item::before {
  content: "보통";
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before {
  content: "제목1";
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before {
  content: "제목2";
}
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="3"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
  content: "제목3";
}

/* Font, Color style */
.editor .ql-editor,
.editor .ql-editor.ql-blank::before,
.editor .ql-tooltip.ql-editing,
.editor .ql-toolbar.ql-snow .ql-formats .ql-picker-label,
.ql-snow .ql-picker.ql-header .ql-picker-item {
  font-family: "Noto Sans KR", sans-serif;
}
.ql-snow .ql-picker {
  font-weight: 400;
}
.ql-snow .ql-editor h1,
.ql-snow .ql-editor h2,
.ql-snow .ql-editor h3 {
  margin-block: 0.5em;
}
.ql-editor p {
  line-height: 1.5em;
  margin-block: 0.25em;
}
.ql-snow .ql-editor h1,
.ql-snow .ql-editor h2,
.ql-snow .ql-editor h3,
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="1"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="1"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="2"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="2"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-label[data-value="3"]::before,
.ql-snow .ql-picker.ql-header .ql-picker-item[data-value="3"]::before {
  font-weight: 600;
}
.ql-editor ol li:not(.ql-direction-rtl),
.ql-editor ul li:not(.ql-direction-rtl) {
  padding-left: 0;
}
.editor .ql-editor ol li.ql-indent-1:not(.ql-direction-rtl),
.editor .ql-editor ul li.ql-indent-1:not(.ql-direction-rtl) {
  padding-left: 1rem;
}
.editor .ql-editor ol li.ql-indent-2:not(.ql-direction-rtl),
.editor .ql-editor ul li.ql-indent-2:not(.ql-direction-rtl) {
  padding-left: 2rem;
}
.editor .ql-editor ol li.ql-indent-3:not(.ql-direction-rtl),
.editor .ql-editor ul li.ql-indent-3:not(.ql-direction-rtl) {
  padding-left: 3rem;
}
.editor .ql-editor ol li.ql-indent-4:not(.ql-direction-rtl),
.editor .ql-editor ul li.ql-indent-4:not(.ql-direction-rtl) {
  padding-left: 4rem;
}
.editor .ql-editor ol li.ql-indent-5:not(.ql-direction-rtl),
.editor .ql-editor ul li.ql-indent-5:not(.ql-direction-rtl) {
  padding-left: 5rem;
}
.editor .ql-editor ol li.ql-indent-6:not(.ql-direction-rtl),
.editor .ql-editor ul li.ql-indent-6:not(.ql-direction-rtl) {
  padding-left: 6rem;
}
.editor .ql-editor ol li.ql-indent-7:not(.ql-direction-rtl),
.editor .ql-editor ul li.ql-indent-7:not(.ql-direction-rtl) {
  padding-left: 7rem;
}
.editor .ql-editor ol li.ql-indent-8:not(.ql-direction-rtl),
.editor .ql-editor ul li.ql-indent-8:not(.ql-direction-rtl) {
  padding-left: 8rem;
}
.editor .ql-toolbar.ql-snow .ql-formats button:hover path,
.editor .ql-toolbar.ql-snow .ql-formats .ql-picker-label:hover .ql-stroke {
  /* var(--color-main-800) */
  stroke: #0050c8;
}
.editor .ql-toolbar.ql-snow .ql-formats .ql-picker-label:hover {
  /* var(--color-main-800) */
  color: #0050c8;
}
