input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea,
select {
  padding: 15px 18px;
  border-radius: 10px;
  border: 1px solid #dbdbdd;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="password"],
textarea,
select {
  color: var(--color-label-assist);
}

input[type="text"]::placeholder,
input[type="number"]::placeholder,
input[type="email"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder,
select::placeholder {
  color: var(--color-label-assist);
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="checkbox"]:focus,
input[type="radio"]:focus,
textarea:focus,
select:focus {
  outline-color: var(--color-main-600);
}
