@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  --color-main-25: theme(colors.main-25);
  --color-main-50: theme(colors.main-50);
  --color-main-100: theme(colors.main-100);
  --color-main-200: theme(colors.main-200);
  --color-main-300: theme(colors.main-300);
  --color-main-400: theme(colors.main-400);
  --color-main-500: theme(colors.main-500);
  --color-main-600: theme(colors.main-600);
  --color-main-700: theme(colors.main-700);
  --color-main-800: theme(colors.main-800);
  --color-main-900: theme(colors.main-900);
  --color-main-950: theme(colors.main-950);
  --color-primary-strong: theme(colors.primary-strong);
  --color-primary-heavy: theme(colors.primary-heavy);
  --color-primary-heavy2: theme(colors.primary-heavy2);
  --color-primary-heavy3: theme(colors.primary-heavy3);
  --color-status-positive: theme(colors.status-positive);
  --color-status-caution: theme(colors.status-caution);
  --color-status-danger: theme(colors.status-danger);
  --color-label-normal: theme(colors.label-normal);
  --color-label-strong: theme(colors.label-strong);
  --color-label-neutral: theme(colors.label-neutral);
  --color-label-alt: theme(colors.label-alt);
  --color-label-assist: theme(colors.label-assist);
  --color-label-disable: theme(colors.label-disable);
  --color-line-normal: theme(colors.line-normal);
  --color-line-neutral: theme(colors.line-neutral);
  --color-line-alt: theme(colors.line-alt);
  --color-line-input: theme(colors.line-input);
  --shadow-normal: theme(boxShadow.normal);
  --shadow-emphasize: theme(boxShadow.emphasize);
  --shadow-strong: theme(boxShadow.strong);
  --shadow-heavy: theme(boxShadow.heavy);
}

@layer components {
  .center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .inputWrap {
    @apply flex flex-col gap-2 w-full text-sm;
  }
  .gridContent {
    @apply lg:w-[calc(100vw-2rem-240px-30px)] xl:w-[calc(1200px-280px-30px)];
  }
}

button,
a {
  transition: backgroud-color ease-in-out 200ms, filter ease-in-out 200ms;
}

details > summary {
  list-style: none;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-label-strong);
}

/* input number 화살표 없애기 */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox  */
input[type="number"] {
  -moz-appearance: textfield;
}
